<table>
<% form_for(resource, "#{resource_instance_name.to_s.downcase}",
      :url => resource.new_record? ? collection_url : resource_url(resource),
      :html => { :method => (resource.new_record? ? "post" : "put") }) do |f| %>
  <% if resource.errors.any? %>
  <tr>
    <td colspan="2">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <% attribute_syms.each do |field| %>
    <tr>
      <td><%= field.to_s.titleize %></td>
      <td><%= f.text_field field %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%= f.submit %></td>
  </tr>
<% end %>
</table>